<header class="header">
  <div class="header-inner">

    <div class="header-left">
      <div class="logo" (click)="goHome()">
        <img src="assets/images/logoo.png" alt="Georgian Travel Platform" class="logo-img" />
      </div>

      <select (change)="onMainChange($event)" [(ngModel)]="selectedMain" class="nav-select">
        <option value="">--</option>
        <option value="dashboard">{{ 'HEADER.DASHBOARD' | translate }}</option>
        <option value="employees">{{ 'HEADER.EMPLOYEE_MANAGEMENT' | translate }}</option>
      </select>

      <div class="nav-item">
        <button (click)="goToRailway()" class="nav-select" [class.nav-active]="isRailwayActive">
          {{ 'HEADER.RAILWAY_SCHEDULE' | translate }}
        </button>
      </div>
    </div>

    <div class="lang-switcher">
      <span class="current-user">{{ auth.getUser()?.username }}</span>
      <button (click)="logout()" class="lang-btn">Logout</button>
      <span class="lang-divider">|</span>
      <button (click)="switchLanguage('en')" [class.lang-active]="currentLang === 'en'" class="lang-btn">EN</button>
      <span class="lang-divider">|</span>
      <button (click)="switchLanguage('ka')" [class.lang-active]="currentLang === 'ka'" class="lang-btn">ქა</button>
    </div>

  </div>
</header>